apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
  namespace: default
data:
  oauth2_proxy.cfg: |
    provider = "oidc"
    
    # URLs públicas para el navegador
    oidc_issuer_url = "https://keycloak.sincal.software/realms/taskmanager"
    login_url = "https://keycloak.sincal.software/realms/taskmanager/protocol/openid-connect/auth"
    
    # URLs internas para comunicación entre servicios
    redeem_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/token"
    oidc_jwks_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/certs"

    # Profile URL comentada intencionalmente, obtenemos info del ID Token
    # profile_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/userinfo"
    # validate_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/userinfo"
    
    client_id = "taskmanager-app"
    redirect_url = "https://auth.sincal.software/oauth2/callback"
    
    # Configuración adicional
    scope = "openid email profile"
    upstreams = ["http://frontend-service:80"]
    email_domains = ["*"]
    cookie_secure = false
    request_logging = true
    http_address = "0.0.0.0:4180"
    
    # Deshabilitar discovery automático
    skip_oidc_discovery = true
    