apiVersion: v1
kind: ConfigMap
metadata:
  name: oauth2-proxy-config
  namespace: default
data:
  oauth2_proxy.cfg: |
    provider = "oidc"
    
    # URLs públicas para el navegador
    oidc_issuer_url = "https://keycloak.sincal.software/realms/taskmanager"
    login_url = "https://keycloak.sincal.software/realms/taskmanager/protocol/openid-connect/auth"
    
    # URLs internas para comunicación entre servicios
    redeem_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/token"
    oidc_jwks_url = "http://keycloak-service:8080/realms/taskmanager/protocol/openid-connect/certs"
    
    client_id = "taskmanager-app"
    redirect_url = "https://auth.sincal.software/oauth2/callback"
    
    # Configuración adicional
    scope = "openid email profile"
    upstreams = ["http://frontend-service:80"]
    email_domains = ["*"]
    cookie_secure = false
    request_logging = true

    # Excluir autenticación para estáticos y manifest
    skip_auth_regex = [
      "^/manifest.json$",
      "^/robots.txt$",
      "^/favicon.ico$",
      "^/static/.*",
      "^/logo.*"
    ]
    http_address = "0.0.0.0:4180"
    
    # Deshabilitar discovery automático
    skip_oidc_discovery = true
    